# Virtual environments
venv/
bert_env/
.venv/
integration_env/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Model checkpoints
distilbert_results/

# Trained models
models/member3/distilbert_model/
models/member3/distilbert_tokenizer/
models/member3/distilbert_label_encoder.pkl

